body {
 margin:0;
 font-family: Arial;
 background: linear-gradient(to right,#ffecd2,#fcb69f);
}

header{
 background:#ff6f61;
 color:white;
 padding:20px;
 text-align:center;
}

.products{
 display:flex;
 justify-content:center;
 flex-wrap:wrap;
 margin:20px;
}

.card{
 background:white;
 width:250px;
 margin:15px;
 border-radius:15px;
 box-shadow:0 0 15px rgba(0,0,0,0.2);
 text-align:center;
 overflow:hidden;
 transition:0.3s;
}

.card:hover{
 transform:scale(1.05);
}

.card img{
 width:100%;
 height:200px;
 object-fit:cover;
}

.card h3{
 color:#ff6f61;
}

button{
 background:#4caf50;
 border:none;
 padding:10px 20px;
 color:white;
 border-radius:20px;
 cursor:pointer;
 margin-bottom:15px;
}

button:hover{
 background:#388e3c;
}

.cart{
 background:white;
 margin:20px auto;
 width:300px;
 padding:15px;
 border-radius:10px;
 text-align:center;
}

footer{
 background:#333;
 color:white;
 text-align:center;
 padding:10px;
}
