body{
 margin:0;
 font-family:Arial;
 background:#f2f2f2;
}

header{
 background:#ff6f61;
 color:white;
 padding:20px;
 text-align:center;
}

.products{
 display:grid;
 grid-template-columns: repeat(3, 1fr);
 gap:20px;
 max-width:900px;
 margin:30px auto;
}

.card{
 background:white;
 border-radius:10px;
 box-shadow:0 0 10px rgba(0,0,0,0.2);
 text-align:center;
 padding:10px;
}

.card img{
 width:100%;
 height:150px;
 object-fit:cover;
 border-radius:10px;
}

button{
 background:#4caf50;
 color:white;
 border:none;
 padding:8px 20px;
 border-radius:20px;
 cursor:pointer;
}
